
extends ../../layouts/default.pug
include ../../mixins/table-tree.pug

block main
    h1 Product Category

    .card.mb-3
        .card-header List
        .card-body 
            .row 
                .col-8 
                .col-4 
                    a(
                        href=`${prefixAdmin}/products-category/create`
                        class = "btn btn-outline-success"
                    ) + New Category

            table(
                class="table table-hover table-sm"
                checkbox-multi 
            )
                thead 
                    tr 
                        th
                            input(type="checkbox" name="checkall")
                        th No.
                        th Thumbnail 
                        th Cetegory
                        th Position 
                        th Status 
                        th Actions
                        
                tbody 
                    +table-tree(records) 